h1 {
	color: #4aaaa5;
	background-color: orange;
}

body {
	background-color: #4aaaa5;
	color: #777777;
}

h2 {
	background-color: #ffffff;
}

/*border color: #cccccc; */

footer {
	background-color: #666666;
}

